<div class="row">
	<div class="col-sm-1"></div>
<img src="../assets/img/logovnptit.png" href="#"> 
<div class="col-sm-1"></div>
</div>
<div class="row">
	
	<div class="col-sm-1"></div>
	<div class="col-sm-5">
		<nav class="navbar navbar-expand-sm nav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link nav" href="#">Features Products</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav" href="#">Lastest Products</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav" href="#">Mosted View</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav" href="#">Best Seller</a>
				</li>
			</ul>

		</nav>
	</div>
	<div class="col-sm-2"></div>
	<div class="col-sm-3">
		<div class="input-group nav">
			<input class="form-control " type="search" placeholder="Enter Chef Name" name="search" (ngModelChange)="searchChefByName($event)" [(ngModel)]="namesend">
			<span class="input-group-append">
				<button type="button" class="btn btn-primary">
					<i class="fas fa-search"></i>
				</button>
			</span>
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>





<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-2">


		<div class="brand">Danh mục</div>

		<div class="row">
			<div class="col-sm-12" formControlName="Fil">
				<div class="list-group">
					<div class="list-group-item list-group-item-action">Quản lý Đầu bếp</div>
				</div>
				<div class="list-group">
					<div class="list-group-item list-group-item-action" >Quản lý Thức ăn</div>
				</div>
				<div class="list-group">
					<div class="list-group-item list-group-item-action" >Quản lý Khách hàng</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-sm-8">
		
		<div class="row">
			
		
			<div class="col-sm-1"></div>
		
			<div class="col-sm-11">
				
				<div [formGroup]="formFil" class="cat_and_or_title">CHEF LIST
					<span class="float-left mr-3 " >Lọc : </span>
					<select #chefStatus (change)="filterChefByStatus(chefStatus.value)" 					
					class="form-select form-select-sm float-left fil mt-2" >
						<option [selected]="true" value="2">All</option>
						<option value="1">Hoạt động</option>
						<option value="0">Ngưng hoạt động</option>
					</select>
						<button type="button" class="btn btn-success " (click)="openAddModal()"
						style="float: right;"><i class="fas fa-plus"></i> Thêm mới Chef</button>
					
					
				</div>
				
				

				

				<table class="table table-striped ">
					<thead>
						<tr>
							<th>Tên</th>
							<th>Giới tính</th>
							<th>Ngày sinh</th>
							<th>Mức lương</th>
							<th>Trạng thái</th>
                            <th>Thao tác</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor= "let chef of chefList">
							<td>{{ chef.name }}</td>
                            <td>{{ chef.sex?'Nam':'Nữ' }}</td>
                            <td>{{ chef.dateofbirth }}</td>
                            <td>{{ chef.salary }}</td>
                            <td>{{ chef.status==="1"?'Hoạt động':'Ngưng hoạt động' }}</td>
							<td>
                                <button type="button" class="btn btn-info buttonspace" (click)="openViewModal(chef)"><i class="fas fa-eye"></i>
									Detail</button>
								<button type="button" class="btn btn-success buttonspace" (click)="openEditModal(chef)"><i class="fas fa-edit"></i>
									Edit</button>
                                    <button type="button" class="btn btn-danger buttonspace"
									(click)="openDeleteModal(chef)"><i class="fas fa-trash"></i>
									Delete</button>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>

	


	<div class="col-sm-1" ></div>
</div>